{{#section 'css_sellProduct'}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
{{/section}}

{{#section 'js_sellProduct'}}
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" referrerpolicy="origin"></script>
    <script>
        const fileInput = document.querySelector('#file-js-example input[type=file]');
        fileInput.onchange = () => {
            if (fileInput.files.length > 0) {
                const fileName = document.querySelector('#file-js-example .file-name');
                let multipleFileInput="";
                for (let i=0;i< fileInput.files.length;i++) {
                    multipleFileInput  += fileInput.files[i].name + " ";
                    console.log(fileInput.files[i].name);
                }
                fileName.textContent = multipleFileInput;
            }
        }

        $('#frmUpload').on('submit',function(e){
            e.preventDefault();

            const name = $('#txtName').val();
            const subCatID = $('#subCatName').find('option:selected').attr("name");
            const firstPrice = $('#txtFirstPrice').val();
            const winPrice = $('#txtPrice').val();
            const stepPrice = $('#txtstepPrice').val();
            const dateEnd = $('#datetimepicker').val();
            const FullDesc = $('#txtFullDesc').val();
            $('#CatIDNext').val(subCatID);

            if(name && firstPrice && winPrice && dateEnd && subCatID
            && stepPrice && FullDesc )
                $('#frmUpload').off('submit').submit();
            else {
                if ($('#check-info').hasClass("is-hidden")) {
                    $('#check-info').removeClass("is-hidden");
                }else{
                    $('.check-info').toggleClass('is-hidden');
                }

            }
        });

        $('#datetimepicker').datetimepicker({
            format:'d/m/Y H:i',
            mask:true,
        });

    </script>

    <script>
        tinymce.init({
            selector: '#txtFullDesc',
            plugins: 'paste image link autolink lists table media',
            menubar: false,
            toolbar: [
                'undo redo | bold italic underline strikethrough | numlist bullist | alignleft aligncenter alignright | ' +
                'forecolor backcolor | table link image media',
            ]
        });
    </script>

{{/section}}
<form action="/seller/upload" method="post" id="frmUpload" enctype="multipart/form-data">
    <div class="has-text-centered">
        <div class="column is-5 is-inline-block box my-5">
            <div class="notification is-warning is-hidden check-info">
                <strong>Vui lòng điền đầy đủ thông tin</strong>
            </div>

            <div class="card-header-title is-inline-block is-size-4-tablet is-size-4-mobile">ĐĂNG BÁN SẢN PHẨM</div>

        <div class="field has-text-left">
            <label class="label">Tên sản phẩm</label>
            <div class="control"  >
                <input class="input" type="text" placeholder="Nhập tên sản phẩm" id="txtName" />
            </div>
        </div>

        <div class="file is-info has-name my-2" id="file-js-example">
            <label class="file-label">
                <input class="file-input" type="file" name="image" multiple accept="image/png, image/jpeg">

                <span class="file-cta">
                    <span class="file-icon">
                        <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label is">
                        Tải lên hình ảnh…
                    </span>
                </span>

                <span class="file-name">
                    1.png
                </span>
            </label>
        </div>
        <div class="field has-text-left">
            <label>
                <i> *Định dạng tên ảnh theo mẫu: 1.png, 2.png, ... , 7.png </i>
            </label>
        </div>

            <div class="field has-text-left">
                <div class="control has-icons-left">
                    <label class="label">Danh mục</label>

                    <div class="select is-fullwidth is-primary">
                        <select id="subCatName">
                            {{#each this.listCategoryNext}}
                                <option name={{CatIDNext}}>
                                    {{CatNextName}}
                                </option>
                            {{/each}}
                        </select>

                        <input type="number" id="CatIDNext" hidden name="catIdNext" />

                        <span class="icon is-left">
                            <i class="fa fa-list-ul"></i>
                        </span>

                    </div>

                </div>

        <div class="field has-text-left">
            <label class="label">Giá mua ngay</label>
            <div class="control has-icons-left has-icons-right" >
                <input
                        class="input is-info"
                        type="number"
                        placeholder="Nhập giá mua ngay"
                        id="txtPrice"
                        name="Price"
                />
                <span class="icon is-small is-left">
                  <i class="fa fa-money"></i>
                </span>
                <span class="icon is-small is-right"> </span>
            </div>
        </div>

        <div class="field has-text-left">
            <label class="label">Giá khởi điểm</label>
            <div class="control has-icons-left has-icons-right " >
                <input
                        class="input is-success"
                        type="number"
                        placeholder="Giá khởi điểm"
                        id="txtFirstPrice"
                        name="FirstPrice"
                />
                <span class="icon is-small is-left">
                  <i class="fas fa-money-bill"></i>
                </span>
                <span class="icon is-small is-right">
                  <i class="fas fa-check"></i>
                </span>
            </div>
        </div>

        <div class="field has-text-left">
            <label class="label">Bước giá</label>
            <div class="control has-icons-left has-icons-right" >
                <input
                        class="input is-dark"
                        type="number"
                        placeholder="Bước giá"
                        id="txtstepPrice"
                        name="stepPrice"
                />
                <span class="icon is-small is-left">
                  <i class="fas fa-money"></i>
                </span>
                <span class="icon is-small is-right"> </span>
            </div>
        </div>

            <div class="field has-text-left">
                <label class="label" for="stepPrice">Thời gian kết thúc</label>
                <div class="control has-icons-left has-icons-right" >
                    <input
                            class="input is-info"
                            type="text"
                            id="datetimepicker"
                            name="DateEnd"
                    />
                    <span class="icon is-small is-left">
                  <i class="fa fa-calendar-day"></i>
                </span>
                    <span class="icon is-small is-right">
                </span>
                </div>
            </div>

        <hr class="has-background-black">

        <div class="field has-text-left">
            <label class="label" for="txtFullDesc">Mô tả sản phẩm</label>
            <div class="control">
                <!--                <textarea class="textarea" placeholder="Textarea"></textarea>-->
                <textarea id="txtFullDesc" name="FullDesc">Hello, World!</textarea>
            </div>

        </div>

        <div class="field has-text-left">
            <div class="control">
                <label class="checkbox" for="txtCheckbox">
                    <input type="checkbox" id="txtCheckbox" name="checkbox" />
                    Tự động gia hạn
                </label>
            </div>
        </div>
        <div class="field has-text-left">
            <div class="control">
                <label class="checkbox" for="txtPoint">
                    <input type="checkbox" id="txtPoint" name="Point" />
                    Chỉ cho phép người mua có điểm uy tín trên 80% tham gia
                </label>
            </div>
        </div>

        <div class="field is-grouped has-text-left">
            <div class="control">
                <button class="button is-link">Đăng bán</button>
            </div>
            <div class="control">
                <button class="button is-link is-light">Hủy</button>
            </div>

        </div>
            </div>
        </div>
    </div>
</form>