<div class="columns is-multiline is-mobile p-2">
    <div class="column is-12">
        <div class="card-header-title is-size-4-tablet is-size-5-mobile">Danh sách tài khoản trong hệ thống</div>
        <hr class="has-background-grey" />
    </div>

    <div class="column is-4-tablet is-12-mobile ">
        <div class="card p-5 m-4">
            <header class="card-header">
                <p class="card-header-title is-size-4">
                    <strong>Tài khoản: <a>#mã6số</a></strong>
                </p>
            </header>
            <div class="card-content py-2 px-0">
                <div class="content">
                    <strong class="is-block has-text-info-dark my-2"> Họ và tên: <span
                            class="has-text-primary-dark">Nguyễn Văn A</span></strong>
                    <strong class="is-block has-text-info-dark my-2"> Địa chỉ: <span
                            class="has-text-primary-dark">227 Nguyễn Văn Cừ, P.4, Q.5, TP.HCM</span></strong>
                    <strong class="is-block has-text-info-dark my-2"> Email: <span
                            class="has-text-primary-dark">nva@gmail.com</span></strong>
                    <strong class="is-block has-text-info-dark my-2"> Số điểm:
                        <span>
                        <i class="is-small tag has-text-danger-dark">+5</i>
                    </span>
                    </strong>
                </div>

            </div>

            <footer class="card-footer">
                <a href="#" class="card-footer-item">
                    <span class="is-small mr-1"><i class="fa fa-level-down-alt"></i></span>
                    HẠ CẤP</a>
            </footer>
        </div>
    </div>
</div>