<footer class="footer">
    <div class="container">
        <div class="columns is-mobile is-multiline">
            <div class="column is-half-mobile is-one-quarter-desktop">
                <figure class="image is-96x96">
                    <img src="/img/logo/logo_v3.png">
                </figure>
                <strong>Online Auction</strong>
                <p>
                    A place to auction items such as fashion items, electronics, home appliances and more...</p>
            </div>
            <div class="column is-half-mobile is-one-quarter-desktop">

            </div>

            <div class="column is-half-mobile is-one-quarter-desktop">
                <h6 class="title is-5">Our Team:</h6>
                <strong>Team Up</strong>
                <address>
                    Ho Chi Minh City, Viet Nam<br>
                    <i class="fas fa-fw fa-envelope"></i><a href="mailto: info@domain"> group19ktpm@gmail.com</a>
                </address>
            </div>
            <div class="column is-half-mobile is-one-quarter-desktop">
                <h6 class="title is-5">Follow us:</h6>
                <ul>
                    <li><a href="#0"><i class="fab fa-fw fa-facebook"></i>Facebook</a></li>
                    <li><a href="#0"><i class="fab fa-fw fa-github"></i>GitHub</a></li>
                    <li><a href="#0"><i class="fab fa-fw fa-youtube"></i>Youtube</a></li>
                </ul>
            </div>
        </div>
        <p class="has-text-centered">&copy; 2021 Team Up. All rights reserved.</p>
    </div>
</footer>