<div class="column is-2-tablet is-hidden-mobile">
    <aside class="menu is-size-6-tablet">
        <p class="menu-label is-size-6">Danh mục</p>
        <ul class="menu-list">
            <li><a>Điện tử</a></li>
            <li>
                <a class="is-active">Thời trang</a>
                <ul class="list is-hidden">
                    <li><a>Quần</a></li>
                    <li><a>Áo</a></li>
                </ul>
            </li>
            <li><a>Sách</a></li>
            <li><a>Thực phẩm</a></li>
        </ul>
    </aside>
</div>