<div class="column is-2-tablet is-hidden-mobile">
    <aside class="menu is-size-6-tablet">
        <p class="menu-label is-size-6">Lọc</p>
        <ul class="menu-list">
            <li>
                <a class="is-active">Giá</a>
                <ul class="list is-hidden">
                    <li><a>Giá tăng dần</a></li>
                    <li><a>Giá giảm dần</a></li>
                </ul>
            </li>
            <li>
                <a class="">Thời gian</a>
                <ul class="list is-hidden">
                    <li><a>Thời gian kết thúc tăng dần</a></li>
                    <li><a>Thời gian kết thúc giảm dần</a></li>
                </ul>
            </li>
        </ul>
    </aside>
</div>