<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Online Auction</title>
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <link
            rel="stylesheet"
            href="https://bulma.io/vendor/fontawesome-free-5.15.2-web/css/all.min.css"
    />

</head>
<body>
<div class="columns hero-body m-0 ">
    <div class="column">
        {{{body}}}
    </div>
</div>

</body>
</html>