<h3 class="is-bold">
    Điều khoản dịch vụ
</h3>
<p class="is-italic">Điều khoản Sử dụng của Online Auction! (được gọi là "Điều khoản Sử dụng")
    bao gồm các hướng dẫn cơ bản và các điều khoản sử dụng dành riêng cho dịch vụ.
    Khi bạn đăng ký tài khoản ở Online Auction! bạn phải đồng ý với các nguyên tắc cơ bản
    và về các điều khoản sử dụng dành riêng cho dịch vụ. Bạn sẽ được yêu cầu để đồng ý với điều này.</p>

<div class="card">
    <h4 class="card-header">
        Điều khoản dịch vụ
    </h4>
    <div class="card-body">
        <h5 class="card-title">Đối với tất cả người dùng dịch vụ</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
    <div class="card-footer text-muted">
        2 days ago
    </div>

    <div class="card-content">
        <ol>
            <li>
	<pre>
<strong>Ch&iacute;nh s&aacute;ch cơ bản</strong> (ch&iacute;nh s&aacute;ch bảo mật) khi ch&uacute;ng t&ocirc;i xử l&yacute;
        th&ocirc;ng tin li&ecirc;n quan đến quyền ri&ecirc;ng tư của kh&aacute;ch h&agrave;ng, đối t&aacute;c kinh doanh v&agrave;
        những người kh&aacute;c (sau đ&acirc;y được gọi l&agrave; &quot;kh&aacute;ch h&agrave;ng&quot; trong chương n&agrave;y) như sau.
Lưu &yacute;: Về c&aacute;ch ch&uacute;ng t&ocirc;i xử l&yacute; cụ thể th&ocirc;ng tin li&ecirc;n quan đến quyền ri&ecirc;ng tư dựa tr&ecirc;n
        ch&iacute;nh s&aacute;ch bảo mật Vui l&ograve;ng tham khảo trước.
Ch&iacute;nh s&aacute;ch bảo mật n&agrave;y &aacute;p dụng cho tất cả c&aacute;c th&ocirc;ng tin do C&ocirc;ng ty xử l&yacute;
        c&oacute; thể trực tiếp hoặc gi&aacute;n tiếp nhận dạng kh&aacute;ch h&agrave;ng, v.v. với tư c&aacute;ch c&aacute; nh&acirc;n
        (sau đ&acirc;y gọi l&agrave; &quot;dữ liệu c&aacute; nh&acirc;n&quot;).

</pre>
            </li>
            <li><strong>Ch&iacute;nh s&aacute;ch quyền ri&ecirc;ng tư</strong>
                <ol>
                    <li><strong>Thu thập dữ liệu c&aacute; nh&acirc;n </strong></li>
                </ol>
            </li>
        </ol>

        <p>Ch&uacute;ng t&ocirc;i sẽ thu thập dữ liệu c&aacute; nh&acirc;n trong c&aacute;c trường hợp sau.</p>

        <p>Khi bạn nhập n&oacute; th&ocirc;ng qua thao t&aacute;c đầu cuối Khi được kh&aacute;ch h&agrave;ng cung cấp
            trực tiếp hoặc qua c&aacute;c phương tiện như t&agrave;i liệu</p>

        <p>Khi c&aacute;c dịch vụ, sản phẩm, quảng c&aacute;o, nội dung (sau đ&acirc;y gọi chung l&agrave; &quot;
            dịch vụ, v.v.&quot; (* 1)) được truyền tự động</p>

        <p>Khi kh&aacute;ch h&agrave;ng sử dụng hoặc duyệt ch&uacute;ng.</p>

        <p>Ngo&agrave;i những điều tr&ecirc;n, khi c&oacute; được hợp ph&aacute;p, chẳng hạn như khi nhận cung cấp
            từ b&ecirc;n thứ ba với sự đồng &yacute; của kh&aacute;ch h&agrave;ng, v.v.</p>

        <p>* 1 Dịch vụ, v.v. bao gồm c&aacute;c dịch vụ, sản phẩm, quảng c&aacute;o v&agrave; nội dung d&agrave;nh
            cho c&aacute;c đối t&aacute;c (* 2) v&agrave; kh&aacute;ch h&agrave;ng kh&ocirc;ng phải ch&iacute;nh c&aacute; nh&acirc;n đ&oacute;.</p>

        <p>* 2 Đối t&aacute;c l&agrave; c&aacute;c c&ocirc;ng ty thuộc nh&oacute;m (* 3), nh&agrave; cung cấp th&ocirc;ng tin
            v&agrave; nh&agrave; quảng c&aacute;o của C&ocirc;ng ty, c&aacute;c điểm đến ph&acirc;n phối quảng c&aacute;o v&agrave; c&aacute;c
            đối t&aacute;c kinh doanh kh&aacute;c.</p>

        <p>* 3 C&aacute;c c&ocirc;ng ty thuộc Tập đo&agrave;n l&agrave; Z Holdings Co., Ltd. v&agrave; c&aacute;c c&ocirc;ng ty mẹ,
            c&ocirc;ng ty con v&agrave; c&ocirc;ng ty li&ecirc;n kết (được gọi l&agrave; &quot;c&ocirc;ng ty mẹ&quot;, &quot;c&ocirc;ng ty con&quot;
            v&agrave; &quot;c&ocirc;ng ty li&ecirc;n kết&quot; trong &quot;Quy tắc về Điều khoản, H&igrave;nh thức v&agrave; Phương ph&aacute;p
            Chuẩn bị B&aacute;o c&aacute;o t&agrave;i ch&iacute;nh &rdquo;.). Vui l&ograve;ng kiểm tra ở đ&acirc;y cho c&aacute;c c&ocirc;ng ty nh&oacute;m .</p>

        <ol>
            <li><strong>Mục đ&iacute;ch sử dụng dữ liệu c&aacute; nh&acirc;n </strong></li>
        </ol>

        <ul>
            <li>Ch&uacute;ng t&ocirc;i sử dụng dữ liệu c&aacute; nh&acirc;n (* 4) để thực hiện những việc sau:
                Vui l&ograve;ng kiểm tra tại đ&acirc;y để biết c&aacute;c trường hợp sử dụng dữ liệu c&aacute; nh&acirc;n cụ thể .</li>
            <li>Để cung cấp c&aacute;c dịch vụ của ch&uacute;ng t&ocirc;i ph&ugrave; hợp với kh&aacute;ch h&agrave;ng của ch&uacute;ng t&ocirc;i, v.v.</li>
            <li>Để trả lời c&aacute;c c&acirc;u hỏi từ kh&aacute;ch h&agrave;ng, v.v.</li>
            <li>Đối với việc ph&acirc;n phối sản phẩm, thanh to&aacute;n, thưởng điểm, v.v.</li>
            <li>Để th&ocirc;ng b&aacute;o cho kh&aacute;ch h&agrave;ng về c&aacute;c dịch vụ của c&ocirc;ng ty
                ch&uacute;ng t&ocirc;i v&agrave; c&aacute;c đối t&aacute;c của ch&uacute;ng t&ocirc;i</li>
            <li>Để đảm bảo cung cấp c&aacute;c dịch vụ của ch&uacute;ng t&ocirc;i một c&aacute;ch an to&agrave;n.
                Điều n&agrave;y bao gồm việc t&igrave;m kiếm những kh&aacute;ch h&agrave;ng vi phạm Điều khoản dịch vụ v&agrave; th&ocirc;ng b&aacute;o
                cho họ, điều tra, ph&aacute;t hiện v&agrave; ngăn chặn c&aacute;c hoạt động gian lận như gian lận v&agrave;
                truy cập tr&aacute;i ph&eacute;p c&aacute;c dịch vụ lạm dụng, v.v.</li>
        </ul>

        <p>Bao gồm</p>

        <ul>
            <li>Để cải thiện dịch vụ của ch&uacute;ng t&ocirc;i v&agrave; xem x&eacute;t c&aacute;c
                dịch vụ mới của c&ocirc;ng ty ch&uacute;ng t&ocirc;i</li>
            <li>Để điều tra v&agrave; ph&acirc;n t&iacute;ch t&igrave;nh trạng sử dụng c&aacute;c dịch vụ của ch&uacute;ng t&ocirc;i, v.v.</li>
            <li>Bất chấp những điều tr&ecirc;n, khi ch&uacute;ng t&ocirc;i nhận dữ liệu c&aacute; nh&acirc;n từ b&ecirc;n thứ ba,
                nếu c&oacute; quy định ri&ecirc;ng về mục đ&iacute;ch sử dụng dữ liệu c&aacute; nh&acirc;n, ch&uacute;ng t&ocirc;i sẽ sử dụng dữ liệu c&aacute;
                nh&acirc;n theo quy định đ&oacute;.</li>
        </ul>

        <p>* 4 Việc sử dụng được chỉ định trong b&agrave;i viết n&agrave;y bao gồm, nhưng kh&ocirc;ng giới hạn, ID Yahoo! JAPAN của kh&aacute;ch h&agrave;ng,
            ID đối t&aacute;c, ID quảng c&aacute;o (bao gồm, nhưng kh&ocirc;ng giới hạn, M&atilde; nhận dạng quảng c&aacute;o (IDFA) v&agrave; M&atilde;
            nhận dạng quảng c&aacute;o Google (AAID)) do C&ocirc;ng ty xử l&yacute;. Điều n&agrave;y bao gồm c&aacute;c trường hợp cookie v&agrave; c&aacute;c
            số nhận dạng kh&aacute;c nhau được li&ecirc;n kết, quản l&yacute; v&agrave; sử dụng.</p>
</div>

</div>