<!--<h3 class="is-bold">-->
<!--    Điều khoản dịch vụ-->
<!--</h3>-->
<!--<p class="is-italic">Điều khoản Sử dụng của Online Auction! (được gọi là "Điều khoản Sử dụng")-->
<!--    bao gồm các hướng dẫn cơ bản và các điều khoản sử dụng dành riêng cho dịch vụ.-->
<!--    Khi bạn đăng ký tài khoản ở Online Auction! bạn phải đồng ý với các nguyên tắc cơ bản-->
<!--    và về các điều khoản sử dụng dành riêng cho dịch vụ. Bạn sẽ được yêu cầu để đồng ý với điều này.</p>-->

<!--<div class="card">-->
<!--    <h4 class="card-header">-->
<!--        Điều khoản dịch vụ-->
<!--    </h4>-->
<!--    <div class="card-body">-->
<!--        <h5 class="card-title">Đối với tất cả người dùng dịch vụ</h5>-->
<!--        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->
<!--        <a href="#" class="btn btn-primary">Go somewhere</a>-->
<!--    </div>-->
<!--    <div class="card-footer text-muted">-->
<!--        2 days ago-->
<!--    </div>-->
<!--</div>-->